body {
    background: black;
    text-align: center;
}

header {
    color: white;
    font-size: 100px;
}

input {
    border-radius: 5px;
    border-color: white;
    width: 250px;
    height: 30px;
    margin: auto;
    color: white;
    background: black;
}

button {
    background: rgb(0, 0, 71);
    border: rgb(0, 0, 78);
    color: white;
    width: 200px;
    height: 50px;
    font-size: 25px;
}body {
    background: black;
    text-align: center;
}

header {
    color: white;
    font-size: 100px;
}

input {
    border-radius:  5px;
    border-color: white;
    width: 250px;
    height: 30px;
    margin: auto;
    color: white;
    background: black;
}

button {
    background: rgb(0, 0, 71);
    border: rgb(0, 0, 78);
    color: white;
    width: 200px;
    height: 50px;
    font-size: 25px;
}